

<a href='' id='logout-link' style="display:none">Logout</a>
<a href='' id='signup-link'>Signup</a>
<a href='' id='login-link'>Login</a>

<div id="login-div" style="display:none">
    <%= form_tag sessions_path do %>
        <%= text_field_tag :email %>
        <%= password_field_tag :password %>
        <%= button_tag('Login', {type: 'button', id: 'login-button'}) %>
    <% end %>
</div>

<div id="signup-div" style="display:none">
    <%= form_for @user do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.button('Signup', {type: 'button', id: 'signup-button'}) %>
    <% end %>
</div>

