<div class="container header">

  <div class="two columns right log-in">
    <p>Log In</p>
  </div>

  <!-- ........................ -->


  <div class="container searches">
    <div class="when">
      <label for="form">From</label>
      <input type="text" class="datepickerFrom" size="30" ></p>
      <label for="to">to</label>
      <input type="text" class="datepickerTo" size="30"></p>
    <hr>
    </div>

    <div class="what">
      <%= fields_for "events" do |form| %>
      <h4>Search by Keyword</h4>
        <input type="text">

      <h4>Search by Category</h4>
        <table class="category">
          <tr>
            <td>forChildren</td>
            <td><%= form.check_box :name %></td>
          </tr>
          <tr>
            <td>Art</td>
            <td><%= form.check_box :name %></td>
          </tr>
          <tr>
            <td>Theater</td>
            <td> <%= form.check_box :name %></td>
          </tr>
          <tr>
            <td> Pop </td>
            <td> <%= form.check_box :name %></td>
          </tr>
          <tr>
            <td> Comedy </td>
            <td> <%= form.check_box :name %></td>
          </tr>
          <tr>
            <td>Dance </td>
            <td> <%= form.check_box :name %></td>
          </tr>
          <tr>
            <td> Jazz </td>
            <td> <%= form.check_box :name %> </td>
          </tr>
          <tr>
            <td> Classical </td>
            <td> <%= form.check_box :name %> </td>
          </tr>
          <tr>
            <td>spareTimes</td>
            <td><%= form.check_box :name %></td>
          </tr>
        </table>
      <% end %>
      <br>
      <hr>
    </div>

    <div class="where">
      <form action="/search">
        <label for="location">Your location:</label>
        <input type="text" title="We automatically grab the IP address of your local server, throw it into a Geocoding gem, and voila! There you are on the map!" value= <%= @ip %> >
        <%= @ip %>
      </form>
    </div>



</div>
