<div class="container header">

<%= form_tag('/events/list', method: :get) do %>
  <div class="container searches">

    <div class="five columns when">

      <div class="question_image left">
        <%= image_tag "when.png" %>
      </div>
      <h4>Discover<br> by<br> Date </h4>
      <div>
        <label for="form">From</label>
        <input type="text" name="start_date" class="datepickerFrom" size="30" ></p>
        <label for="to">to</label>
        <input type="text" name="end_date" class="datepickerTo" size="30"></p>
      </div>
    <hr>
    </div>

    <div class="five columns what">
      <div class="question_image left">
        <%= image_tag "what.png" %>
      </div>

      <h4>Search by Keyword</h4>
        <input type="text" name="search_word">

      <h4>Search by Category</h4>
        <table class="category">
          <tr>
            <td>forChildren</td>
            <td><%= check_box_tag :forChildren %></td>
          </tr>
          <tr>
            <td>Art</td>
            <td><%= check_box_tag :Art %></td>
          </tr>
          <tr>
            <td>Theater</td>
            <td> <%= check_box_tag :Theater %></td>
          </tr>
          <tr>
            <td> Pop </td>
            <td> <%= check_box_tag :Pop %></td>
          </tr>
          <tr>
            <td> Comedy </td>
            <td> <%= check_box_tag :Comedy %></td>
          </tr>
          <tr>
            <td>Dance </td>
            <td> <%= check_box_tag :Dance %></td>
          </tr>
          <tr>
            <td> Jazz </td>
            <td> <%= check_box_tag :Jazz %> </td>
          </tr>
          <tr>
            <td> Classical </td>
            <td> <%= check_box_tag :Classical %> </td>
          </tr>
          <tr>
            <td>spareTimes</td>
            <td><%= check_box_tag :spareTimes %></td>
          </tr>
        </table>
      <br>
      <hr>
    </div>

    <div class="five columns where">
      <div class="question_image left">
        <%= image_tag "where.png" %>
      </div>
      <h4>Find <br>What is <br>Near You!</h4>
        <label for="location">Find by IP:</label>
        <input type="text" name="location" title="We automatically grab the IP address of your local server, throw it into a Geocoding gem, and voila! There you are on the map!" value="">
      <div class="ip">
        <br>
        <h4><em>Or:</em> Write in an address!</h4>
        <p><em>Our service automatically displays results w/in ... miles of where you are.</em></p>
      </div>
      <hr>
    </div>
  <%= submit_tag(value="Search") %>
  </div>
<% end %>


</div>

