<div class="eventlist">

  <span id="this_is_list"></span>
  <span id="filter_string" style="display:none"><%=@filter_string%></span>
  <span id="start_date_for_range" style="display:none"><%=@start%></span>
  <span id="end_date_for_range" style="display:none"><%=@end%></span>

  <div class="search-bar">
      <div class="tab">
        <p>S<br>e<br>a<br>r<br>c<br>h<br></p>
      </div>
      <div class="search-form">
        <%= render "search" %>
      </div>
  </div>



  <div class="nav">
    <%= render 'account' %>
  </div>

  <div class="logo">
    <%= image_tag "logo1.png" %>
  </div>

  <div class="help">
    <p>I'M <br /> NEW</p>
  </div>

  <!--.......................... -->


  <div class="container">
    <div class="container white">


      <div id="tabs" class="sixteen columns right">
        <ul>
          <li><a id="search_tab_for_click" href="#tabs-list">List</a></li>
          <li title="Come directly from 'List' - we show all search results... Come from your 'SAVED EVENTS' - we map those instead!"><a id="map_tab_for_click" href="#tabs-map" >Map</a></li>
          <li class='saved-events-tab'><a id="user_tab_for_click" href="#tabs-list-columns" >SAVED EVENTS</a></li>
        </ul>

<!-- ------------------------------------- -->

        <div id="tabs-list" class="container">

        <div class="intro-pg">
          <div class="intro-text">
            <p><em>Find events.<br />
            ... Near you.<br />
            ... For today, or for tomorrow.</em></p>
          </div>

          <div class="explanation two columns search-icon">
            <%= image_tag("search.gif", :class => "float left") %>
            <p class="float left"><span>Search</span><br /> for Events</p>
          </div>

          <div class="explanation list-icon eleven columns">
            <img class="float left" src="http://png-3.findicons.com/files/icons/1579/devine/256/list.png" alt="">
            <p class="float left"><em>If you...</em><br />SEE A<br /><span>List</span></p>

            <div class="innerworkings columns">
              <img class="float left" src="https://cdn0.iconfinder.com/data/icons/miscellaneous-2/100/levitation-512.png" alt="">
              <p class="float left"><span>hover</span><br /> over Event for<br /> description</p>

              <h1 class="float left"> +</h1>

              <img src="http://perceptionmgmt.net/wp-content/uploads/2014/01/click-icon.png" alt="" class="float left">
              <p class="float left"><span>click</span><br />on Event<br /> to <strong>SAVE</strong></p>
            </div>
          </div>

          <div class="explanation map-icon eleven columns">
            <%= image_tag("map.png", :class => "float left") %>
            <p class="float left"><em>Or...</em><br />SEE A<br /><span>Map</span></p>

            <div class="innerworkings columns">
              <h2><em>+ Start planning your day</em></h2>
            </div>
          </div>
        <hr>

        </div>


        <div class="four columns left">
          <ul id="event-list"></ul>
        </div>
        <div class="eight columns right">
            <div class="eventInfo eight columns right">
                <%= render "eventdetails" %>
            </div>
          </div>
        </div>



        <div id="tabs-map">

          <%= render "map" %>
        </div>


        <div id="tabs-list-columns">
          <h2>THESE ARE YOUR EVENTS</h2>
          <p><em>Here's some information about your search...</em></p>

          <div class="four columns left">
            <ul id="user-event-list"></ul>
          </div>
          <div class="four columns right">
            <div class="eventInfo four columns">
              <%= render "userdetails" %>
            </div>
          </div>

          <div class=" two column right sortable-categories">
            <hr>
            <h4>Coming Soon: Make your own categories</h4>
            <div class="column">
              <div class="portlet">
                <div class="portlet-header">Category 1</div>
                <div class="portlet-content">Event 1 <br /> Event 2 <br /> Event 3</div>
              </div>
            </div>
            <div class="column">
              <div class="portlet">
                <div class="portlet-header">Category 2</div>
                <div class="portlet-content">Event 1 <br /> Event 2 <br /> Event 3</div>
              </div>
            </div>
            <div class="column">
              <div class="portlet">
                <div class="portlet-header">Category 3</div>
                <div class="portlet-content">Event 1 <br /> Event 2 <br /> Event 3</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <%= token_tag %>

</div>
